.companiyu{
    &-control{
        display: grid;
        gap: 25px;
    }
    &-box{
        display: grid;
        gap: 25px;
    }
    &-cards{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 25px;
    }
    &-card{
        display: flex;
        flex-direction: column;
        height: 40vh;
        padding: 15px 20px;
        background-color: #0C2520;
        justify-content: end;
    }
    &-card-title{
        color: white;
    }
    &-card-text{
        color: 
        #32735F;

    }
    &-cards2{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 25px;
    }
    &-blog{
        background-color: #32735F;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
    }
    &-blog1{
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-t{
        color: white;
    }
    &-i{
        color: #E1FFA0;
    }
    &-t1{
        color: white;
        font-size: 42px;
    }
    &-blog2{
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-span{
        display: flex;
        gap: 10px;
    }
    &-info{
        color: #E1FFA0;
    }
    &-info2{
        color: white;
    }
    &-blog3{
        padding: 20px 15px;
        background-color:#0C2520;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 40vh;
    }
    &-blogs{
        display: flex;
        justify-content: space-between;
    }
}
@media(min-width:768px){
    .companiyu{
        &-cards{
            grid-template-columns: 1fr 1fr 1fr;
        }
        &-cards2{
            grid-template-columns: 1fr 1fr;
        }
        &-blog{
            background-color: #32735F;
            display: grid;
            grid-template-columns: 1fr 1fr; ;
            gap: 10px;
        }
    }
}
@media(min-width:992px){
    .companiyu{
        &-cards{
            grid-template-columns: 1fr 1fr 1fr;
        }
      
    }
}